$black: #161616;
$white: #ffffff;
$green: #e81b13;
$green-hover:#29B13B;
$matt-black: #242424;



// Transition
$transition: 0.3s ease-in-out;


$font-primary: "Poppins", sans-serif;
$font-secondary: "Nunito", sans-serif;


// font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 500;
$bold: 600;
$extrabold: 700;


// @use 'sass:math';
// // Mixin for responsive font size
// @mixin responsive-font($min-font, $max-font, $min-vw: 320, $max-vw: 1440) {
//     // Use math.div() to avoid deprecation warnings
//     $slope: math.div(($max-font - $min-font), ($max-vw - $min-vw));
//     $intercept: $min-font - $slope * $min-vw;
  
//     font-size: calc(#{$intercept}px + #{$slope * 100}vw);
//   }
  
//   // Mixin for responsive line-height
//   @mixin responsive-leading($min-font, $max-font, $min-vw: 320, $max-vw: 1440) {
//     $slope: math.div(($max-font - $min-font), ($max-vw - $min-vw));
//     $intercept: $min-font - $slope * $min-vw;
  
//     line-height: calc(#{$intercept}px + #{$slope * 100}vw);
//   }
  